In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
vis_data = pd.read_csv("./train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже

In [ ]:
vis_data.info()

In [ ]:
x_train, x_test = train_test_split(vis_data.payment_amount, train_size=0.7, shuffle=False)

In [ ]:
result = x_test.mean()

In [ ]:
result

In [ ]:
import numpy as np

y_true = np.array([1.23, 2.35, 2.75])
y_pred = np.array([1.01, 12.3, 2.74])

In [ ]:
np.sqrt(1/3*((y_pred - y_true)**2).sum())

Загрузите данные train.csv, оставьте в данных только признаки 'fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', затем избавьтесь от пропусков. Целевой переменной будет 'balance_due', разделите данные на обучающую и тестовую выборки в соотношении 70% / 30% без перемешивания. Обучите линейную регрессию из scikit-learn и запишите в переменную result значение метрики RMSE на тестовой выборке. RMSE означает Rooted Mean Squared Error. Rooted означает, что из значения метрики был взят корень.

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
vis_data = pd.read_csv("train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже

In [ ]:
data = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due']]
data = data.dropna()
data.info()
x = data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount']]
y = data['balance_due']

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, shuffle=False)

In [ ]:
model = LinearRegression()
model.fit(x_train, y_train)

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
result = mean_squared_error(y_test, y_pred)
result

In [1]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score 
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import balanced_accuracy_score 
from sklearn.metrics import cohen_kappa_score

In [ ]:
a = np.ones(100)
b = np.hstack((2, np.ones(99)))
accuracy_score(a, b)

In [ ]:
precision = 0.75
recall = 0.6
f1 = 2 * precision * recall / (precision + recall)
f1

In [ ]:
y_true = [0, 0, 1, 1, 1, 1, 0, 1]
y_pred = [0, 1, 0, 0, 1, 1, 0, 1]

In [ ]:
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
f1

In [ ]:
y_true = [0, 0, 1, 0, 0, 1, 0]
y_pred = [1, 1, 1, 0, 1, 1, 0]
precision_score(y_true, y_pred), recall_score(y_true, y_pred)

In [4]:
data = pd.read_csv('voiceDataSet.csv')

In [5]:
data.head(2)

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male

In [6]:
data.label = data.label.apply(lambda x: 1 if x == 'male' else 0)

In [7]:
data.sample(2)

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
1449,0.179108,0.061642,0.176245,0.142920,0.238773,0.095853,1.851029,7.034257,0.920308,0.431603,...,0.179108,0.122968,0.050000,0.277457,1.080469,0.023438,4.382812,4.359375,0.192368,1
1973,0.240260,0.043653,0.253687,0.233953,0.267702,0.033749,3.432978,16.069326,0.824470,0.149331,...,0.240260,0.167447,0.018692,0.275862,0.299609,0.007812,1.890625,1.882812,0.145781,0

In [118]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [119]:
data = pd.read_csv('voiceDataSet.csv')
data = data.replace('male', 1)
data = data.replace('female',0)
X = data.drop('label', axis = 1)
Y = data['label']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [120]:
scaler = StandardScaler()

In [121]:
X_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [122]:
model = LogisticRegression(max_iter=1000)

In [123]:
model.fit(X_scaled, y_train)

LogisticRegression(max_iter=1000)

In [124]:
y_pred = model.predict(X_test_scaled)

In [125]:
accuracy_score(Y_test, y_pred)

0.9726603575184016

In [98]:
glass = pd.read_csv('glass.csv')
glass.head(2)

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1

In [99]:
glass.Type.value_counts().count()

6

In [101]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, KFold
model = KNeighborsClassifier(n_neighbors=3)
kf = KFold(n_splits=10)

X = glass.drop('Type', axis = 1)
y = glass['Type']

accs = cross_val_score(model, X, y, cv=kf, scoring="accuracy")
accs.mean()

0.5257575757575758

In [113]:
heart = pd.read_csv('heart_fin1.csv', sep=';')
heart.head(2)

   age  sex  cp  trestbps  chol  restecg  thalach  exang  oldpeak  target
0   63    1   3       145   233        0      150      0      2.3       1
1   37    1   2       130   250        1      187      0      3.5       1

In [114]:
cols = ['age', 'trestbps', 'chol', 'thalach', 'oldpeak']
print('WAS: ', heart.shape)
for col in cols:
    tf = heart[col].quantile(0.25)
    sf = heart[col].quantile(0.75)
    qr = (sf - tf) * 1.5
    lq = tf - qr
    rq = sf + qr
    heart.drop(index=heart.loc[(heart[col] < lq) | (heart[col] > rq)].index, inplace=True)
print("BECAME: ", heart.shape)

WAS:  (303, 10)
BECAME:  (284, 10)

In [115]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [154]:
X = heart.drop('target', axis = 1)
Y = heart['target']
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.15, random_state=5)
scaler = StandardScaler()

X_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
model = LogisticRegression(max_iter=1000)
model.fit(X_scaled, Y_train)
y_pred = model.predict(X_test_scaled)
y_pred_proba = model.predict_proba(X_test_scaled)

roc_auc_score(Y_test, y_pred_proba[:, 1])

0.8181818181818182

In [147]:
Y_test.shape, y_pred.shape, y_pred_proba.shape

((43,), (43,), (43, 2))

In [133]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score, KFold
model = KNeighborsClassifier(n_neighbors=3)
kf = KFold(n_splits=10)

accs = cross_val_score(model, X, Y, cv=kf, scoring="accuracy")
accs.mean()

0.56564039408867

In [139]:
from sklearn.metrics import mean_squared_error, f1_score, accuracy_score, roc_curve, roc_auc_score

In [158]:
roc_auc_score(Y_test, model.predict_proba(X_test)[:,1])

0.6103896103896104

# 4.9. Практика

In [184]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score
vis_data = pd.read_csv("./train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже

In [185]:
vis_data.head()
data = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
data = data.dropna()

In [186]:
x = data.iloc[:, 0:5]
y = data['compliance']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, shuffle=False)

In [187]:
clf = DecisionTreeClassifier(random_state=23)
clf.fit(x_train, y_train)
y_pred_train = clf.predict(x_train)
y_pred = clf.predict(x_test)
f1_train = f1_score(y_train, y_pred_train)
f1_test = f1_score(y_test, y_pred)
print(f1_train, f1_test)
result = f1_train - f1_test

0.6607803184665308 0.580226904376013

In [188]:
data.head()

   fine_amount  state_fee  late_fee  discount_amount  balance_due  compliance
0        250.0       10.0      25.0              0.0        305.0         0.0
1        750.0       10.0      75.0              0.0         75.0         1.0
5        250.0       10.0      25.0              0.0        305.0         0.0
6        750.0       10.0      75.0              0.0        855.0         0.0
7        100.0       10.0      10.0              0.0        140.0         0.0

# Задание 4.11.1

In [231]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.metrics import f1_score, accuracy_score

vis_data = pd.read_csv("./train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже

In [232]:
data = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
data = data.dropna()
x = data.iloc[:, 0:5]
y = data['compliance']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, shuffle=False)

In [233]:
clf = DecisionTreeClassifier(random_state=23)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
f1_train = f1_score(y_test, y_pred)

In [244]:
n = data.compliance.value_counts()[1]
zeros = data.loc[data.compliance == 0][:n]
ones = data.loc[data.compliance == 1]
balanced = pd.concat([zeros, ones], axis=0, ignore_index=True)
x = balanced.iloc[:, 0:5]
y = balanced['compliance']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, shuffle=False)
clf_bal = DecisionTreeClassifier(random_state=23)
clf_bal.fit(x_train, y_train)
y_pred = clf.predict(x_test)
f1_bal = f1_score(y_test, y_pred)

In [245]:
result = f1_bal - f1_train

In [264]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit
from sklearn.metrics import f1_score, accuracy_score

vis_data = pd.read_csv("./train.csv", encoding = 'ISO-8859-1', low_memory = False)
# Напишите ваш код ниже
data = vis_data[['fine_amount', 'state_fee', 'late_fee', 'discount_amount', 'balance_due', 'compliance']]
data = data.dropna()
x = data.iloc[:, 0:5]
y = data['compliance']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, shuffle=False)

clf = DecisionTreeClassifier(random_state=23)
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)
f1_train = f1_score(y_test, y_pred)

n = data.compliance.value_counts()[1]
zeros = data.loc[data.compliance == 0][:n]
ones = data.loc[data.compliance == 1]
balanced = pd.concat([zeros, ones], axis=0, ignore_index=True)
x = balanced.iloc[:, 0:5]
y = balanced['compliance']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, shuffle=False)
clf_bal = DecisionTreeClassifier(random_state=23)
clf_bal.fit(x_train, y_train)
y_pred = clf_bal.predict(x_test)
f1_bal = f1_score(y_test, y_pred)

result = f1_bal - f1_train