In [37]:
import pandas as pd
import numpy as np
import datetime


columns=['flight_id', 'origin', 'destination', 'duration', 'aircraft_model', 'total_passengers', 'total_seats', 'fuel_expence', 'tickets_total_cost', 'income', 'departure_date', 'price_per_km']
data = pd.read_csv('flights.csv', names=columns)

data.head()

,flight_id,origin,destination,duration,aircraft_model,total_passengers,total_seats,fuel_expence,tickets_total_cost,income,departure_date,price_per_km
0,136560,Anapa,Novokuznetsk,305,Boeing 737-300,0,130,10615.0,NaN,NaN,2017-01-24,NaN
1,136511,Anapa,Novokuznetsk,310,Boeing 737-300,0,130,21225.0,NaN,NaN,2017-02-21,NaN
2,136514,Anapa,Novokuznetsk,299,Boeing 737-300,0,130,125202.0,NaN,NaN,2017-02-07,NaN
3,136518,Anapa,Novokuznetsk,304,Boeing 737-300,0,130,8493.0,NaN,NaN,2016-12-20,NaN
4,136523,Anapa,Novokuznetsk,312,Boeing 737-300,0,130,25469.0,NaN,NaN,2017-01-10,NaN

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193 entries, 0 to 192
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   flight_id           193 non-null    int64
 1   origin              193 non-null    object
 2   destination         193 non-null    object
 3   duration            193 non-null    int64
 4   aircraft_model      193 non-null    object
 5   total_passengers    193 non-null    int64
 6   total_seats         193 non-null    int64
 7   fuel_expence        193 non-null    float64
 8   tickets_total_cost  180 non-null    float64
 9   income              180 non-null    float64
 10  departure_date      193 non-null    object
 11  price_per_km        180 non-null    float64
dtypes: float64(4), int64(4), object(4)
memory usage: 18.2+ KB

In [39]:
data.dropna(axis=0, subset=['income'], inplace=True)

In [40]:
data.describe()

,flight_id,duration,total_passengers,total_seats,fuel_expence,tickets_total_cost,income,price_per_km
count,180.000000,180.000000,180.000000,180.000000,180.000000,1.800000e+02,1.800000e+02,180.000000
mean,136540.794444,74.988889,101.950000,113.500000,79990.567130,1.179647e+06,1.099657e+06,1146.113304
std,258.233139,25.061709,14.423086,16.546025,5112.520263,4.811836e+05,4.765547e+05,171.577073
min,136119.000000,49.000000,64.000000,97.000000,73651.083333,5.310000e+05,4.558458e+05,723.725006
25%,136309.000000,50.000000,93.000000,97.000000,75154.166667,7.385250e+05,6.633708e+05,1053.015401
50%,136531.500000,74.500000,97.000000,113.500000,78647.125000,1.068850e+06,9.895840e+05,1095.712104
75%,136775.000000,100.000000,112.250000,130.000000,84881.000000,1.631950e+06,1.548660e+06,1269.526260
max,136961.000000,103.000000,130.000000,130.000000,91247.000000,1.886000e+06,1.805363e+06,1479.960093

In [41]:
data.sample(12)

,flight_id,origin,destination,duration,aircraft_model,total_passengers,total_seats,fuel_expence,tickets_total_cost,income,departure_date,price_per_km
95,136815,Anapa,Belgorod,51,Sukhoi Superjet-100,97,97,76657.250000,765300.0,6.886428e+05,2017-02-19,1093.325730
161,136244,Anapa,Moscow,99,Boeing 737-300,117,130,82759.000000,1703000.0,1.620241e+06,2016-12-22,1328.204921
179,136441,Anapa,Moscow,100,Boeing 737-300,128,130,84881.000000,1837200.0,1.752319e+06,2017-02-03,1436.476869
157,136132,Anapa,Moscow,99,Boeing 737-300,116,130,82759.000000,1714000.0,1.631241e+06,2017-02-15,1337.222255
53,136632,Anapa,Belgorod,51,Sukhoi Superjet-100,91,97,76657.250000,714300.0,6.376428e+05,2017-01-07,1012.355426
136,136120,Anapa,Moscow,99,Boeing 737-300,109,130,82759.000000,1605400.0,1.522641e+06,2017-02-24,1248.196576
91,136418,Anapa,Moscow,100,Boeing 737-300,97,130,84881.000000,1407800.0,1.322919e+06,2016-12-07,1084.472943
83,136900,Anapa,Belgorod,51,Sukhoi Superjet-100,97,97,76657.250000,765300.0,6.886428e+05,2017-02-01,1093.325730
175,136131,Anapa,Moscow,99,Boeing 737-300,124,130,82759.000000,1812800.0,1.730041e+06,2017-01-28,1418.214308
142,136207,Anapa,Moscow,101,Boeing 737-300,110,130,87003.000000,1567600.0,1.480597e+06,2016-12-27,1213.730686
87,136871,Anapa,Belgorod,50,Sukhoi Superjet-100,97,97,75154.166667,765300.0,6.901458e+05,2017-01-13,1095.712104
141,136411,Anapa,Moscow,100,Boeing 737-300,110,130,84881.000000,1590800.0,1.505919e+06,2017-02-04,1234.488589

In [42]:
data.sort_values(by='income').head(10)

,flight_id,origin,destination,duration,aircraft_model,total_passengers,total_seats,fuel_expence,tickets_total_cost,income,departure_date,price_per_km
14,136807,Anapa,Belgorod,50,Sukhoi Superjet-100,68,97,75154.166667,531000.0,455845.833333,2017-02-23,723.725006
13,136642,Anapa,Belgorod,49,Sukhoi Superjet-100,64,97,73651.083333,531000.0,457348.916667,2017-01-30,726.111381
19,136844,Anapa,Belgorod,50,Sukhoi Superjet-100,79,97,75154.166667,575100.0,499945.833333,2017-02-28,793.740503
16,136887,Anapa,Belgorod,49,Sukhoi Superjet-100,78,97,73651.083333,595200.0,521548.916667,2017-01-20,828.038703
15,136922,Anapa,Belgorod,50,Sukhoi Superjet-100,76,97,75154.166667,607800.0,532645.833333,2017-02-11,845.656756
21,136620,Anapa,Belgorod,49,Sukhoi Superjet-100,79,97,73651.083333,613500.0,539848.916667,2017-02-17,857.092753
18,136823,Anapa,Belgorod,51,Sukhoi Superjet-100,78,97,76657.250000,620400.0,543742.750000,2017-02-05,863.274810
23,136937,Anapa,Belgorod,50,Sukhoi Superjet-100,81,97,75154.166667,626100.0,550945.833333,2017-01-03,874.710806
20,136888,Anapa,Belgorod,50,Sukhoi Superjet-100,79,97,75154.166667,626100.0,550945.833333,2017-02-14,874.710806
22,136678,Anapa,Belgorod,50,Sukhoi Superjet-100,80,97,75154.166667,631200.0,556045.833333,2017-01-28,882.807837

In [43]:
data['day_of_week'] = data.departure_date.apply(lambda x: datetime.date.fromisoformat(x).isoweekday())

In [44]:
data.sort_values(by='income').head(10)

,flight_id,origin,destination,duration,aircraft_model,total_passengers,total_seats,fuel_expence,tickets_total_cost,income,departure_date,price_per_km,day_of_week
14,136807,Anapa,Belgorod,50,Sukhoi Superjet-100,68,97,75154.166667,531000.0,455845.833333,2017-02-23,723.725006,4
13,136642,Anapa,Belgorod,49,Sukhoi Superjet-100,64,97,73651.083333,531000.0,457348.916667,2017-01-30,726.111381,1
19,136844,Anapa,Belgorod,50,Sukhoi Superjet-100,79,97,75154.166667,575100.0,499945.833333,2017-02-28,793.740503,2
16,136887,Anapa,Belgorod,49,Sukhoi Superjet-100,78,97,73651.083333,595200.0,521548.916667,2017-01-20,828.038703,5
15,136922,Anapa,Belgorod,50,Sukhoi Superjet-100,76,97,75154.166667,607800.0,532645.833333,2017-02-11,845.656756,6
21,136620,Anapa,Belgorod,49,Sukhoi Superjet-100,79,97,73651.083333,613500.0,539848.916667,2017-02-17,857.092753,5
18,136823,Anapa,Belgorod,51,Sukhoi Superjet-100,78,97,76657.250000,620400.0,543742.750000,2017-02-05,863.274810,7
23,136937,Anapa,Belgorod,50,Sukhoi Superjet-100,81,97,75154.166667,626100.0,550945.833333,2017-01-03,874.710806,2
20,136888,Anapa,Belgorod,50,Sukhoi Superjet-100,79,97,75154.166667,626100.0,550945.833333,2017-02-14,874.710806,2
22,136678,Anapa,Belgorod,50,Sukhoi Superjet-100,80,97,75154.166667,631200.0,556045.833333,2017-01-28,882.807837,6

In [47]:
data['occupation_rate'] = data.total_passengers / data.total_seats
data.sort_values(by='occupation_rate').head(10)

,flight_id,origin,destination,duration,aircraft_model,total_passengers,total_seats,fuel_expence,tickets_total_cost,income,departure_date,price_per_km,day_of_week,occupation_rate
13,136642,Anapa,Belgorod,49,Sukhoi Superjet-100,64,97,73651.083333,531000.0,4.573489e+05,2017-01-30,726.111381,1,0.659794
14,136807,Anapa,Belgorod,50,Sukhoi Superjet-100,68,97,75154.166667,531000.0,4.558458e+05,2017-02-23,723.725006,4,0.701031
55,136352,Anapa,Moscow,100,Boeing 737-300,92,130,84881.000000,1372400.0,1.287519e+06,2016-12-10,1055.453523,6,0.707692
57,136253,Anapa,Moscow,98,Boeing 737-300,93,130,80637.000000,1407800.0,1.327163e+06,2016-12-24,1087.951994,6,0.715385
103,136360,Anapa,Moscow,100,Boeing 737-300,97,130,84881.000000,1455400.0,1.370519e+06,2017-02-05,1123.493406,7,0.746154
96,136122,Anapa,Moscow,100,Boeing 737-300,97,130,84881.000000,1431000.0,1.346119e+06,2017-01-08,1103.491320,7,0.746154
91,136418,Anapa,Moscow,100,Boeing 737-300,97,130,84881.000000,1407800.0,1.322919e+06,2016-12-07,1084.472943,3,0.746154
109,136250,Anapa,Moscow,101,Boeing 737-300,99,130,87003.000000,1407800.0,1.320797e+06,2017-02-08,1082.733417,3,0.761538
108,136178,Anapa,Moscow,99,Boeing 737-300,99,130,82759.000000,1434600.0,1.351841e+06,2017-01-29,1108.181973,7,0.761538
110,136464,Anapa,Moscow,100,Boeing 737-300,100,130,84881.000000,1398000.0,1.313119e+06,2017-01-09,1076.439318,1,0.769231